{% load static %}
<!doctype html>
<html lang="km">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}PNK SHOP{% endblock %}</title>
    
    {% include 'accounts/includes/CssStyles.html' %}
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    {% include 'accounts/includes/HeaderSection.html' %}
    
    <main class="min-vh-100">
        {% block content %}
        {% endblock %}
    </main>

    {% include 'accounts/includes/FooterSection.html' %}

    {% if messages %}
    <div id="django-messages" class="d-none">
      {% for message in messages %}
        <span class="django-message" data-tags="{{ message.tags }}" data-text="{{ message|escapejs }}">{{ message }}</span>
      {% endfor %}
    </div>
    {% endif %}
    {% block extra_js %}{% endblock %}
  </body>
</html>